{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 1 versions",
          "not ie_mob <=11",
          "not ie <= 11"
        ]
      }
    }],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],

  "plugins": [
    ["@babel/plugin-transform-runtime", {
      // "corejs": 2,
      "helpers": true,
      "regenerator": true,
      "useESModules": false
    }],
    "@babel/syntax-flow",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-syntax-dynamic-import"
  ],

  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-proposal-async-generator-functions",
        ["@babel/plugin-transform-async-to-generator", {
          "method": "coroutine"
        }],
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-regenerator",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "transform-regenerator",
        "@babel/plugin-transform-flow-strip-types",
        "@babel/plugin-transform-regenerator"
      ]
    },
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
